:root {
  --color1: #283044;
  --color2: #78A1BB;
  --color3: #EBF5EE;
  --color4: #BFA89E;
  --color5: #8B786D;
}

.logoImg {
  width: 8rem;
  height: 7rem;
  padding-left: 1rem;
}

.navBottoms {
  width: 18rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
}

.nav__bar {
  background: linear-gradient(
    90deg,
    rgb(53, 164, 212 ) 0%,
    rgba(57, 94, 133) 52%,
    rgb(9, 60, 102 ) 100%
  );
}

.navBottoms {
  width: 700px;
  margin-right: 70px;
}

.cart__icon,
.numberIcons,
.circle__icon {
  font-size: 50px;
}

button {
  padding: 5px;
  font-size: 1.3rem;
}

.cart__icon {
  width: 90px;
  height: 90px;
}

.circle__icon {
  width: 36px;
  height: 36px;
  color: #ffffff;
  position: absolute;
  right: 122px;
  top: 22px;
}

.numberIcons {
  position: absolute;
  color: red;
  right: 132px;
  top: 18px;
  font-size: 26px;
  font-weight: 600;
}

.navbar__h1 {
  text-align: center;
  align-self: center;
}

.ItemListContainer__h1 {
  color: red;
  text-align: center;
  background-color: var(--color1);
}

.div {
  display: flex;
}

.card {
  width: 18rem;
  text-align: center;
}

.item__card {
  text-align: center;
}

.item__card1 {
  display: flex;
  flex-direction: column;
  float: left;
  margin-top: 400px;
  margin-left: 50px;
}

.item__card2 {
  display: flex;
  flex-direction: column;
  float: right;
  margin-top: 400px;
  margin-right: 120px;
}

.img__item__card {
  margin-top: 12px;
}

.div__container__list {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 600px;
  gap: 40px;
  align-items: center;
  justify-items: center;

}